local conf = {}
-- Basic authentication conf for http server
local auth = {}
auth.enabled = true
auth.realm = "NodeMCU http server"
-- displayed in the login dialog users get, for http server
auth.user = "admin"
auth.password = "admin"
conf.auth = auth
-- wifi config etc
local wlan = {}
wlan.ssid="My_AP"
wlan.pwd="My_Pass"
conf.wlan = wlan
-- debugging and miscellaneous
local misc = {}
misc.debug = false -- print debugging info on some code
misc.delay = 60 -- data sending period in seconds
misc.ntpsleep = 1800 -- ntp sync period in seconds
misc.zone = "Europe/Belgrade" -- time zonename
misc.timezonedb_key = "012345689AB" -- timezonedb.com API key
misc.status = false
misc.sw_pin = 1 -- pin for the switch
misc.use_display = false -- use display or not
misc.display_timeout = 5 -- 5s between showing sensor data on the display
-- display is defined and configured in the appropriate module file
misc.use_rtc = false -- use RTC module based on DS1307 and others
conf.misc = misc
-- sensors
local sens = {}
-- DS18B20 temperature measurement sensor
sens.ds_enable = false
sens.ds_pin = 4 -- pin on which the sensors are connected
sens.ds_wait = 60 -- measuring rate in seconds
-- DHT22 temperature and humidity sensor
sens.dht_enable = false
sens.dht_pin = 4 -- pin on which the sensor is connected
sens.dht_wait = 60 -- measuring rate in seconds
-- BMP180 temperature and pressure sensor
sens.bmp_enable = false
sens.bmp_sda = 5 -- I2C sda pin
sens.bmp_scl = 6 -- I2C scl pin
sens.bmp_wait = 60 -- measuring rate in seconds
conf.sens = sens
-- mqtt settings
local mqtt = {}
mqtt.use = true -- use mqtt or other method
mqtt.clientid = "Client"
mqtt.secure = false
mqtt.user = "guest"
mqtt.password = "guest"
mqtt.broker = "mqtt.thingstud.io"
mqtt.port = 1883
mqtt.topic = "/topics/esp8266/work" -- post topic
mqtt.rtopic = "/topics/esp8266/work/todo" -- receive topic
conf.mqtt = mqtt
-- emoncms settings
local emon = {}
emon.use = false -- use emoncms or other method
emon.node = 1 -- node id
emon.server = "www.emonsrv.com"
emon.path = "/emoncms9/input/post.json"
emon.apikey = "0123456789abcdef0123456789abcdef"
conf.emon = emon
-- end
return conf
